<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="'utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav>
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a>
        <button class="'no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>
    {{{body}}}
</body>
</html>