{{#if posts.length}}
{{#each posts as |post|}}
<div class="row mb-4">
    <div class="col-md-5">
        <h2>
            <a href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
        <p>Written on {{formatDate post.createdAt "MMM DD, YYYY h:mm A"}}</p>
    </div>
   
</div>
{{/each}}
{{/if}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Post</h3>

    <form class="form new-post">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" name="project-name" />
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea class="form-input" id="body" name="body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

<script src="./js/dashboard.js"></script>